@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: NIKEA;
  src: url(../../public/NIKEA.otf);
}

div {
  font-family: myFirstFont;
}

body {
  background-color: white;
  color: black;
}